body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row1  {
  background-color: teal;
  padding: 30px;
  margin: 30px;
  border-radius: 10%;
  width: 600px;
  margin-left: 250px;

}

.row1:hover  {
  background-color: rgb(8, 169, 169);
}

#submit-title {
  padding: 0px;
  margin-top: -30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 35px;

}

#submit {
  margin-bottom: 30px;
}

.form-group-1 {
  font-size: 25px;
}

#submit1  {
  margin-top: 15px;
}