body {
  background-image: url("people.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profile  {
  background-color: teal;
  padding: 90px;
  margin: 30px;
  border-radius: 10%;
  width: 600px;
  margin-left: 250px;
}

#profile-text {
  padding: 0px;
  margin-top: -30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 35px;

}

.data {
  color: white;
  font-size: 15px;
}

.data2 {
  color: white;
  font-size: 20px;
}